.container {
  max-width: 960px;
}

h2 {
  color: #fff;
}
.lead{
  color: #fff;
  line-height: 1.3;
}

.white {
  color: #fff;
}

.link {
  text-decoration: none;
  text-transform: none;
}

.card{
  margin-bottom: 1em;
}